<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Market</title>
</head>

<body>
    <h1>Список товаров:</h1>
    <table>
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
            <td>Category</td>
            <td>Link</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${all_products}">
            <td th:text="${p.id}" />
            <td th:text="${p.title}" />
            <td th:text="${p.price}" />
            <td th:text="${p.category_id}" />
            <td><a th:href="@{'/products/product?id=' + ${p.id}}">К товару</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/}">на Главную страницу</a>
</body>
</html>